$primary-color: rgb(24, 153, 125);

* {
    box-sizing: border-box;
    color: rgb(90, 90, 90);
}
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
}

.form-group {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.form-control {
    border: 1px solid rgb(184, 184, 184);
    height: 40px;
    min-width: 200px;
    flex: 1 1 auto;
    padding: 10px;
    margin: 0 5px;
}
.btn {
    flex: 0 1 100px;
    background-color: $primary-color;
    color: white;
    border: 1px solid darken($primary-color, 5%);
    outline: none;
    margin: 0 5px;
}
.btn:hover {
    background-color: lighten($primary-color, 10%);
}
.btn:active {
    background-color: lighten($primary-color, 20%);
}