
// draft css for design preview only
#root {
  color: #505050;
  background: linear-gradient(40deg, gold, #ffb300);
  display: grid; 
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  grid-template-rows: 80px 1fr 60px;
  grid-template-areas: 
  "header header header"
  ". content ."
  "footer footer footer";
  height: 100vh;
}
.header {
  grid-area: header;
  display: grid;
  justify-content: right;
  align-content: center;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

.menu {
  font-size: 1.2em;
  float: left;
  margin: 0;
  padding: 0;
  margin: 3vw;
  margin-top: 0;
  margin-bottom: 0;
  a {
    color: inherit;
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid transparent;
    &.current {
      border-color: inherit;
    }
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.time {
  height: 400px;
  display: grid;
  font-size: 13em;
  line-height: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-auto-flow: column;
  font-weight: 300;
  margin-top: 35px;
  &_section {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
  .arrow {
    &_up {
      &::after {
        content: ' ';
        height: 0;
        width: 0;
        border: .1em solid transparent;
        display: block;
        border-bottom-color: inherit;
        border-top-width: 0;
      }
    }
    &_down {
      &::after {
        content: ' ';
        border: .1em solid transparent;
        height: 0;
        width: 0;
        display: block;
        border-top-color: inherit;
        border-bottom-width: 0;
      }
    }
  }
  .numbers {
    margin-top: -7px;
  }
}  
.buttons {
  margin-top: 88px;
  opacity: .8;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    .button {
      width: 7em;
      background-color: transparent;
      border: 3px solid #505050;
      color: #505050;
      font-size: 2.4em;
      height: 2em;
    }
 }
 .footer-menu {
     padding: 0;
     margin: 0;
     text-align: center;
     li {
            display: inline-block;
            a {
              padding: 20px;
              color: inherit;
              font-size: .9em;
            }
     };

 }