$inp-height: 40px;
$primary-bg: rgb(51, 106, 168);
* {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(77, 77, 77);
}
.container{
    max-width: 500px;
}
.form-group {
    margin: 0 0 7px;
}
.form-btn-row {
display: flex;
justify-content: flex-end;
}
.form-alert-line {
    font-size: 12px;
    min-height: 15px;
    font-style: italic;
}
.form-control {
    width: 100%;
    height: $inp-height;
    padding: 5px;
    border: 1px solid rgb(189, 189, 189);
}
label {
padding-bottom: 6px;
display: inline-block;;
}
button {
    height: 40px;
    background-color: $primary-bg;
    color: white;
    border: 1px solid darken($primary-bg, 5%);
    padding: 0 20px;
}

.invalid {
    $invalid: rgb(230, 8, 38);
    input {
        border-color: $invalid;
        
    }
    .form-alert-line {
        color: $invalid;
    }
}